// greyscale
$color-black: #000000;
$color-darkgrey: #6d6e71;
$color-grey: #d4d4d4;
$color-lightgrey: #f5f5f5;
$color-white: #ffffff;

// brand colors
$color-purple: #802961;
$color-dark-purple: #541e4a;


$assets-prefix: '/app/themes/codest/dist';