<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/iro.min.js"></script>
    <link rel="stylesheet" href="/show.css" type="text/css" />
    <script src="/edit_frame.js" type="text/javascript"></script>
    <script src="/upload_image.js" type="text/javascript"></script>
    <script src="/frame_form.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <%= erb :'header.html' %>
    <div class='table container'>
      <table class='matrix-table' style='display: -webkit-inline-box'>
        <% 15.times do |i| %>
          <tr y='<%= i %>'>
            <% 21.times do |j| %>
              <td x='<%= j %>' class='cell' data-target="0,0,0"></td>
            <% end %>
          </tr>
        <% end %>
      </table>
      <button class='btn btn-info'><span id='pipette'><img src='/pipette.png'></span></button>
      <span id="color-picker-container"></span>
    </div><br>
    <div class='container-fluid'>
      <form>
        <div class='row'>
          <div class="form-group col-sm-5">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name">
          </div>
        </div>
      <button class='export-data btn btn-success' id='save-data'>Save</button>
      <button class='export-data btn btn-info' id='show-data'>Send to matrix!</button>
      <a href='/new'><button class='btn btn-primary'>New</button></a>
      <button class='btn btn-warning'><input type='file' name='image' accept='image/*'></button>
    </div>
  </body>
</html>
<script>
  new FrameForm().run();
  new UploadImage().run();
  <% if @frame %>
    new EditFrame(<%= @frame %>).run();
  <% end %>
</script>
