<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/draw_canvases.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href='/index.css'>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">MatrixService</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li>  <a href='/new'>New</a></li>
        </ul>
      </div>
    </nav>
    <div class='container-fluid'>
      <% @saved_pictures.each_slice(3) do |pictures| %>
        <div class="row frame-row">
          <% pictures.each do |picture| %>
           <div class="col-sm-3 frame-cell">
            <a href="/edit/<%= picture[:frame_id] %>">
              <div class='frame-container' id='frame-<%=picture[:frame_id] %>'>
                <span class='image' data-target='<%= picture[:frame] %>'></span>
              </div>
              <hr>
              <h3 class='frame-name'><%= picture[:name] %></h3>
            </a>
          </div>
        <% end %>
      </div>
    <% end %>
  </body>
</html>

<script>
  new DrawCanvases().run();
</script>
