<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/iro.min.js"></script>
    <link rel="stylesheet" href="/show.css" type="text/css" />
    <script src="/edit_frame.js" type="text/javascript"></script>
    <script src="/frame_form.js" type="text/javascript"></script>
  </head>
  <body>
    <div class='table'>
      <table class='matrix-table' style='display: -webkit-inline-box'>
        <% 15.times do |i| %>
          <tr y='<%= i %>'>
            <% 21.times do |j| %>
              <td x='<%= j %>' class='cell' onclick="updateCell(this)" data-target="0,0,0"></td>
            <% end %>
          </tr>
        <% end %>
      </table>
      <span id="color-picker-container" onClick="getColor()"></span>
    </div><br>
    <input id='name'>
    <br><br>
    <button class='export-data' onclick="saveData()">Save</button>
    <button class='export-data' onclick="showData()">Show</button>
  </body>
</html>
<% if @frame %>
  <script>
    new EditFrame(<%= @frame %>).call()
  </script>
<% end %>
